# .gitignore

# Ignore all files and directories, then whitelist the ones you want to include
/*

# Whitelist specific folders
!/notebooks/
!/utils/
!/data/
!/outputs/

# Whitelist specific files
!/README.md
!/requirements.txt
!/.gitignore

# Data
/data/*
!/data/.gitkeep
!/data/README.md

# Outputs
/outputs/*
!/outputs/.gitkeep

# Models
/models/*
!/models/.gitkeep