# .gitignore

# Ignore all files and directories, then whitelist the ones you want to include
/*

# Whitelist specific folders
!/notebooks/
!/utils/
!/data/

# Whitelist specific files
!/README.md
!/requirements.txt
!/.gitignore

# Data
/data/*
!/data/.gitkeep

# Utils
/utils/__pycache__/
/utils/model_train/

# Models
/models/*
!/models/.gitkeep